{% extends 'users/auth/auth-base.html' %} {% block content %}
<form class="bg-white" method="POST">
  {% csrf_token %}
  <h1 class="text-gray-800 font-bold text-2xl mb-1">خوش آمدید!</h1>
  <p class="text-sm font-normal text-gray-600 mb-7">
    لطفا شماره موبایل خود را وارد کنید
  </p>
  <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
    {{ form.mobile }}
  </div>
  <div class="">
    {% for error in form.mobile.errors %}
      <p class="text-red-600 text-xs">{{ error }}</p>
    {% endfor %}
  </div>
  <button
    type="submit"
    class="
      block
      w-full
      bg-indigo-600
      mt-4
      py-2
      rounded-2xl
      text-white
      font-semibold
      mb-2
    "
  >
  ادامه
  </button>
  <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer"></span>
</form>
{% endblock content %}
