{% extends 'users/auth/auth-base.html' %}

{% block extra_head %}
  {{ block.super }}
    <style>
      input, select {
          text-align: right;
          direction: rtl;
      }
    </style>
{% endblock %}

{% block content %}
<form class="bg-white" method="POST">
  {% csrf_token %}
  <h1 class="text-gray-800 font-bold text-2xl mb-1">تکمیل ثبت نام</h1>
  <p class="text-sm font-normal text-gray-600 mb-7">
    لطفا اطلاعات خود را به صورت کامل وارد نمایید.
  </p>
  <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-4"> {{ form.first_name }} </div>
  <div class="">
    {% for error in form.first_name.errors %}
      <p class="text-red-600 text-xs">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-4"> {{ form.last_name }} </div>
  <div class="">
    {% for error in form.last_name.errors %}
      <p class="text-red-600 text-xs">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-4"> {{ form.password }} </div>
  <div class="">
    {% for error in form.password.errors %}
      <p class="text-red-600 text-xs">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-4"> {{ form.password_confirm }} </div>
  <div class="">
    {% for error in form.password_confirm.errors %}
      <p class="text-red-600 text-xs">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-4"> {{ form.career_group }} </div>
  <div class="">
    {% for error in form.career_group.errors %}
      <p class="text-red-600 text-xs">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-4"> {{ form.career }} </div>
  <div class="">
    {% for error in form.career.errors %}
      <p class="text-red-600 text-xs">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-4"> {{ form.referrer_code }} </div>
  <div class="">
    {% for error in form.referrer_code.errors %}
      <p class="text-red-600 text-xs">{{ error }}</p>
    {% endfor %}
  </div>
  <button
    type="submit"
    class="
      block
      w-full
      bg-indigo-600
      mt-4
      py-2
      rounded-2xl
      text-white
      font-semibold
      mb-2
    "
  >
    ورود به سامانه
  </button>
  <div class="flex justify-between items-center mt-4">
    <a
      href="{% url 'auth:get_phone' %}"
      class="
        text-indigo-600
        text-sm
        font-semibold
        hover:text-indigo-500
      "
    >
    بازگشت
    </a>
</form>

{% endblock content %}

{% block extra_script %}
  <script>
    $("#id_career_group").change(function() {
      var group_id = $(this).val();
      if(group_id == 0){
        $("#id_career").html('<option value="" selected="">----------</option>');
        return false;
      }
      $.ajax({
        url: "{% url 'core:careers' 12345 %}".replace(12345, group_id),
        type: "GET",
        data: {},
        success: function(data) {
          $("#id_career").html('');
          for(let career of data.careers){
            $("#id_career").append(`<option value="${career[0]}">${career[1]}</option>`);
          }
        }
      });
    });
  </script>
{% endblock extra_script %}

