{% extends 'base.html' %}
{% load static jalali_tags i18n %}
{% block title %} {{block.super}}
{{ page_title }}
{% endblock title %}

{% block extra_head %}{{extra_head|safe}}
    {% if forms.0 %}
        {{ forms.0.media }}
    {% endif %}
{% endblock extra_head %}



{%block page_content%}
<div class="x_panel">
<div class="x_title">
            <h2>
                {{ page_title }}
                <small>{{ page_subtitle }}</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" kerman_case="button"
                        aria-expanded="false"><i class="fa fa-wrench"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

    <div class="x_content">
        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" {% if form_submit_url_arg2 %}
            action="{% url form_submit_url_name form_submit_url_arg1 form_submit_url_arg2 %}" {% elif form_submit_url_arg1 %}
            action="{% url form_submit_url_name form_submit_url_arg1 %}" {% elif form_submit_url_name %} action="{% url form_submit_url_name %}"
            {% else %} action="" {% endif %} {% if is_file_form %}enctype="multipart/form-data" {% endif %} method="POST">
            {% csrf_token %}
            {% if formset %}
            {{ formset.management_form }}
            {% endif %}
            

        {% if desc %}
            <div class="form-desc">
                <div class="alert alert-{% if desc_type %}{{desc_type}}{% else %}info{%endif%}">
                    {{desc|safe}}
                </div>
            </div>    
        {% endif %}


            {% for form in forms %}
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-2 col-xs-12" for="{{f.id_for_label}}">
                    {{ field.label_tag }}
                    {% if field.field.required %}
                    <span class="required">*</span>
                    {%endif %}
                </label>
                <div class="col-md-6 col-sm-10 col-xs-12">
                    {% if field.widget_type == 'checkbox' %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="{{field.name}}" id="id_{{field.name}}" {% if field.value %}checked{% endif %}>
                        </label>
                    </div>
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- {{ field } -->
                    <!-- {% else } -->
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="ln_solid"></div>
            {% endfor %}

            <!-- formset section begin -->
            {% for form in formset %}
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}


            {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-2 col-xs-12" for="{{f.id_for_label}}">
                    {{ field.label_tag }}
                    {% if field.field.required %}
                    <span class="required">*</span>
                    {%endif %}
                </label>
                <div class="col-md-6 col-sm-10 col-xs-12">
                    {% if field.widget_type == 'checkbox' %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="{{field.name}}" id="id_{{field.name}}" {% if field.value %}checked{% endif %}>
                        </label>
                    </div>
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- {{ field } -->
                    <!-- {% else } -->
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    {% if form.errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <!-- formset section end -->


            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    
                    {% if submit_buttons %}
                        {% for submit in submit_buttons %}
                            <button type="submit" name="{{submit.name}}" class="btn {{submit.class}}">
                                {{submit.title}}
                            </button>
                        {% endfor %}
                    {% else %}
                        <button type="submit" class="btn btn-success">
                            {% if form_submit_btn_text %}
                            {{form_submit_btn_text}}
                            {% else %}
                            {% trans 'ارسال' %}
                            {% endif %}
                        </button>
                    {% endif %}

                    {% if cancel_url %}
                    <a  href="{{cancel_url}}" class="btn btn-default">
                        {% if cancel_btn_text %}
                        {{cancel_btn_text}}
                        {% else %}
                        {% trans 'انصراف' %}
                        {% endif %}
                    </a>
                    {% endif %}
                </div>
            </div>

        </form>
    </div>
</div>
<!-- Check for persian datetime pickers -->
<script>
    let pdatepickers = [{% for field in persian_date_fields %} '{{field}}', {% endfor %}]
    window.onload = () => {
        pdatepickers.map((picker) => {
            console.log(picker);
            $("#id_" + picker).persianDatepicker({
                calendarType: 'gregorian',
                format: 'YYYY-MM-DD HH:mm:ss',
            });
        })
    }

</script>
{%endblock page_content%}