{% extends 'base.html' %}
{% load static jalali_tags i18n core_tags %}
{% block title %} {{block.super}}
{{ page_title }}
{% endblock title %}
{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/jalalidatepicker.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jalalidatepicker.min.js' %}"></script>
<script src="{% static 'js/moment/jalali-moment.browser.js' %}"></script>

    <style>
        .app-box {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 15px;
            line-height: 1;
            text-align: center;
            background-color: #f2f2f2;
            transition: 0.1s linear all;
        }
        .app-box:hover {
            box-shadow: 0px 4px 4px 0px #eee;
        }
        .app-box a {
            display: block;
            padding: 15px;
            padding-bottom: 20px;
        }
        .app-box i {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 30px;
            display: block;
        }
        .app-box div {
            font-size: 12px;
            font-weight: bold;
        }

        .memento-mori-table {
            width: 100%;
            max-width: 1000px;
            margin: 0px auto;
        }

        .memento-mori-table tr td {
            height: 10px;
            table-layout: fixed;
            border: 1px solid #ccc;
        }

        .passed {
            background-color: #555;
        }

        .memento-button {
            font-size: smaller;
            margin: 0px;
        }

        #mementoHelp {
            display: none;
        }

        .memento-info {
            text-align: center;
            padding-top: 10px;
            border: none !important;
        }

        #month_form {
            display: inline-block;
            witdh: 200px;
        }

        #month_form input {
            height: 25px;
            margin: 0px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fafafa;
            text-align: center;

        }

        #todoListAddBox {
            display: flex;
            margin-top: 20px;
        }

        #todoListContent {
            display: flow-root;
        }

        .btn-todo-list {
            margin: 0px auto;
            padding: 0px 10px;
        }

        .loader {
            width: 100%;
            position: absolute;
            height: 100%;
            background-color: white;
            opacity: 0.7;
            z-index: 100;
            text-align: center;
            font-size: xx-large;
        }

        .loader .spinner {
            border: 12px solid #f3f3f3;
            border-top: 12px solid #1abb9c;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin: 100px auto;
            animation: spin 2s linear infinite;
        }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>
{% endblock %}

{%block page_content%}
<div class="page-title">
    <div class="title_left">
        <h5>
            <!-- Placement for breadcrump -->
        </h5>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            {% trans 'پنل مدیریت' %}
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#apps" id="apps-tab" role="tab"
                                            data-toggle="tab" aria-expanded="true">دسترسی سریع</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab"
                                            data-toggle="tab" aria-expanded="false">پروفایل</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="apps" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                <div class="app-box">
                                                    <a href="{% url 'account_profile' %}"><i class="fa fa-home"></i><div>صفحه اصلی</div></a>
                                                </div>
                                            </div>
                                            {% if perms.team %}
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                <div class="app-box">
                                                    <a href="{% url 'team_profile_teams_mine' %}"><i class="fa fa-users"></i><div>{% trans 'تیم‌ها' %}</div></a>
                                                </div>
                                            </div>
                                            {% endif %}

                                            {% if perms.file %}
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                <div class="app-box">
                                                    <a href="{% url 'file_manage_file_list' %}"><i class="fa fa-archive"></i><div>{% trans 'فایل‌ها' %}</div></a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 profile_left">
                                            <div class="profile_img">
                                                <div id="crop-avatar">
                                                    <!-- Current avatar -->
                                                    <img class="img-responsive avatar-view"
                                                        src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static 'account/profile.png' %}{% endif %}"
                                                        alt="Avatar" title="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                            <h3>{{user.first_name}} {{user.last_name}}</h3>
                                            <ul class="list-unstyled user_data">
                                                <li><i class="fa fa-user user-profile-icon"></i>
                                                    <span>{% trans 'نام کاربری' %}: {{user.username}}</span>
                                                </li>

                                                <li>
                                                    <i class="fa fa-envelope user-profile-icon"></i>
                                                    <span>
                                                        {% if user.email %}{{user.email}}{% else %}{% trans 'آدرس ایمیل ثبت نشده است' %}{% endif %}</span>
                                                </li>

                                                <li class="m-top-xs">
                                                    <i class="fa fa-sign-in user-profile-icon"></i>
                                                    <span>{% trans 'آخرین ورود' %}: {% if user.last_login %}{{user.last_login}}{% else %}{% trans 'نامشخص' %}{% endif %}</span>
                                                </li>
                                            </ul>
                                            <a class="btn btn-default" href="{% url 'account_profile_edit' %}"><i
                                                    class="fa fa-edit m-right-xs"></i>&nbsp;{% trans 'ویرایش پروفایل' %}</a>
                                            <a class="btn btn-default" href="{% url 'account_profile_change_password' %}"><i
                                                    class="fa fa-key m-right-xs"></i>&nbsp;{% trans 'تغییر رمز ورود' %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {% for team in request.user.teams.all %}
            <div class="col-md-12 col-lg-12">
                <div class="x_panel">
                    {% comment %} <div class="x_title">
                        <h2>
                            {{team.name}}
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div> {% endcomment %}
                    <div class="x_content">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 profile_left">
                                    <div class="team_avatar">
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            <img class="img-responsive avatar-view"
                                                src="{% if team.avatar %}{{ team.avatar.url }}{% else %}{% static 'team/avatar.png' %}{% endif %}"
                                                alt="Avatar" title="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                    <h3>{{team.name}}</h3>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <i class="fa fa-user user-profile-icon"></i><span> {% trans 'رهبر تیم' %}: {{team.leader}}</span>
                                        </div>
                                        <div class="col-md-4">
                                            <i class="fa fa-users user-profile-icon"></i>
                                            <span>{% trans 'اعضا' %}: {{team.users.count}}</span>
                                        </div>
                                    </div>
                                    <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <a class="btn btn-default btn-xs" href="{% url 'team_profile_teams_view' team.id %}"><i class="fa fa-eye"></i> {% trans 'مشاهده' %} </a>
                                            <a class="btn btn-default btn-xs" href="{% url 'cfd_profile_signals_month_view' team.id %}"><i class="fa fa-dollar"></i> CFD </a>
                                            <a class="btn btn-default btn-xs" href="{% url 'dmo_profile_dmo_view_this_month' team.id %}"><i class="fa fa-line-chart"></i> DMO </a>
                                            <a class="btn btn-default btn-xs" href="{% url 'team_profile_meetings_list' team.id %}">{% trans 'جلسات' %} </a>
                                            <a class="btn btn-default btn-xs" href="{% url 'team_profile_attendance_view_today' team.id %}">{% trans 'حضور و غیاب' %} </a>
                                            <a class="btn btn-default btn-xs" href="{% url 'team_profile_votes_list' team.id %}">{% trans 'نظرسنجی‌ها' %} </a>
                                        </div>
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        لیست کارهای روزانه
                    </h2>
                    <small><form method="GET" id="month_form">
                        <input id="date_picker" name="todo_list_date" onchange="getTodoList()" data-jdp/>
                    </form></small>

                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="overflow: hidden;">
                    <div id="todoListLoader" class="loader"><div class="spinner"></div></div>
                    <div id="todoListContent">
                    </div>
                    <hr >
                    <div id="todoListAddBox">
                        <input name="todoListTitle" id="todoListTitle" type="text" class="form-control"
                               placeholder="یک کار جدید ایجاد کنید" aria-describedby="basic-addon1">
                        <input name="ایجاد" id="todoListAdd" type="button" class="btn btn-success"
                                value="ایجاد" onclick="createNewTask()">
                    </div>
                </div>
            </div>


            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        تقویم Memento Mori
                    </h2>
                    <button class="btn btn-link memento-button" onclick="toggleMementoHelp()">راهنما؟</button>

                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="mementoHelp">
                    ممنتو موری (Memento Mori)، تقویمی بر پایه‌ی هفته‌های سال؛ در قالب مربع‌هایی
                     کوچک که در پی هم به زنجیر کشیده شده‌اند. در مجموع هفتاد سطر
                     که نشان دهنده هفتاد سال، و هر سطر پنجاه و دو هفته، تمام عمر شما
                     را نشان می‌دهد. پس از گذر هر هفته یک مربع سیاه می‌شود و در این حالت،
                     بخش سفید تقویم،در خوش‌بینانه‌ترین شکل، فرصت مانده از زندگی را نشان می‌دهد.<br>
                    این تقویم، می‌تواند یادآور خوبی از گذر عمر باشد و شاید انگیزه‌ای برای دانستن قدر فرصت محدود زندگی.
                    <a href="https://mrshabanali.com/%D8%AC%D8%B4%D9%86-%D9%81%D8%AA%D8%AD-%D9%88-%D8%B2%D9%85%D8%B2%D9%85%D9%87%E2%80%8C%D8%A7%DB%8C-%D8%AF%D8%B1-%DA%AF%D9%88%D8%B4-%D9%81%D8%A7%D8%AA%D8%AD%D8%A7%D9%86/">
                        <i class="fa fa-external-link"></i>
                        بیشتر بدانید
                    </a>
                    </div>
                    {% if AGE_TRESHOLD %}
                        <table class="memento-mori-table">
                            {% for y in YEARS %}
                                {% if y|mod:10 == 0 %}
                                    <tr style="height: 20px">
                                        <td colspan="52" class="memento-info">
                                            {% if y == 0 %}
                                                شروع زندگی شما
                                            {% else %}
                                                {{y}} سالگی شما
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    {% for w in WEEKS %}
                                        <td {% if y|multiply:52|add:w < AGE_TRESHOLD %} class="passed" {% endif %}>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div style="text-align: center">
                            <p>
                                ممنتو موری (Memento Mori)، تقویمی بر پایه‌ی هفته‌های سال؛ در قالب مربع‌هایی کوچک که در پی هم به زنجیر کشیده شده‌اند. در مجموع هفتاد سطر که نشان دهنده هفتاد سال، و هر سطر پنجاه و دو هفته، تمام عمر شما را نشان می‌دهد. پس از گذر هر هفته یک مربع سیاه می‌شود و در این حالت، بخش سفید تقویم، در خوش‌بینانه‌ترین شکل، فرصت مانده از زندگی را نشان می‌دهد.
                                این تقویم، می‌تواند یادآور خوبی از گذر عمر باشد و شاید انگیزه‌ای برای دانستن قدر فرصت محدود زندگی.
                            </p>
                            <p>برای دیدن تعداد هفته‌های گذشته از عمر، تاریخ تولد خود را تکمیل کنید</p>
                            <a class="btn btn-default" href="{% url 'account_profile_edit' %}"><i
                                class="fa fa-edit m-right-xs"></i>&nbsp;{% trans 'ویرایش پروفایل' %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock page_content%}

{% block extra_scripts %}
    <script>

        const LOADER = '<div class="loader"><div class="loader-inner ball-pulse"></div></div>';

        $(document).ready(function () {

            jalaliDatepicker.startWatch({
            });
            const date = "{{todo_list.date|to_jalali:'%Y/%m/%d'}}";
            $("#date_picker").val(date);
            getTodoList();

        });


        function toggleMementoHelp(){
            $('#mementoHelp').toggle(200);
        }


        var TODO_LIST_TIMER_SPEND = 0;
        var TODO_LIST_TIMER_ID = null;
        setInterval(runningTaskTimer, 1000);

        function getTodoList() {
            showTodoListLoader();
            TODO_LIST_TIMER_ID = null;
            const date = getSelectedDateInGregorian();
            const url = "{% url 'todo_list:todo_list-list' %}";
            $.ajax({
                url: url + date + '/items/',
                type: 'GET',
                cache: false,
                success: function (data) {
                    fillTodoList(data);
                    hideTodoListLoader();
                }
            });
        }

        function fillTodoList(data) {
            $('#todoListContent').html('');
            if (data.length === 0) {
                $('#todoListContent').html('هیچ کاری برای این تاریخ وجود ندارد');
                return;
            }
            for (let item of data) {
                let component = createTodoItemComponent(item);
                $('#todoListContent').append(component);
            }
        }

        function createNewTask() {
            showTodoListLoader();
            const date = getSelectedDateInGregorian();
            const title = $('#todoListTitle').val();
            const url = `/api/v1/todo-list/${date}/items/`;
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    title: title,
                    description: '',
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                },
                success: function (data) {
                    $('#todoListTitle').val('');
                    getTodoList();
                }
            });
        }

        function showTodoListLoader() {
            $('#todoListLoader').show();
        }

        function hideTodoListLoader() {
            $('#todoListLoader').hide();
        }

        function getSelectedDateInGregorian() {
            const date = $("#date_picker").val();
            return moment.from(date, 'fa', 'YYYY/MM/DD').locale('en').format('YYYY-MM-DD');
        }

        function startStop(task_id) {
            console.log("Toggle -> " + task_id)
            showTodoListLoader();
            const date = getSelectedDateInGregorian();
            const url = `/api/v1/todo-list/${date}/items/${task_id}/play-pause`;
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: {
                },
                success: function (data) {
                    getTodoList();
                }
            });
        }

        function markDone(task_id) {
            console.log("Done -> " + task_id)
            showTodoListLoader();
            const date = getSelectedDateInGregorian();
            const url = `/api/v1/todo-list/${date}/items/${task_id}/done`;
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: {
                },
                success: function (data) {
                    getTodoList();
                }
            });
        }

        function markUndone(task_id) {
            console.log("Undone -> " + task_id);
            showTodoListLoader();
            const date = getSelectedDateInGregorian();
            const url = `/api/v1/todo-list/${date}/items/${task_id}/undone`;
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: {
                },
                success: function (data) {
                    getTodoList();
                }
            });
        }

        function editTask(task_id) {
            console.log("Edit ->" + task_id)
        }

        function deleteTask(task_id) {
            console.log("Delete -> " + task_id);
            showTodoListLoader();
            const date = getSelectedDateInGregorian();
            const url = `/api/v1/todo-list/${date}/items/${task_id}/delete/`;
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {
                    getTodoList();
                }
            });
        }


        function createTodoItemComponent(item) {
            const id = item.id;
            const title = item.title;
            const description = item.description || '';
            const status = item.status;
            let panel_color_class = '';
            if (item.in_progress_from) {
                panel_color_class = 'panel-primary';
                TODO_LIST_TIMER_SPEND = item.in_progress_from + item.total_time_in_sec;
                TODO_LIST_TIMER_ID = id;
            } else if (status === 0) {
                panel_color_class = 'panel-default'
            } else if (status === 100) {
                panel_color_class = 'panel-success'
            } else {
                panel_color_class = 'panel-danger'
            }
            const spendTime = secondToTime(item.total_time_in_sec);
            const part1 = `
                <div class="col-md-12">
                    <div class="panel ${panel_color_class}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3 class="panel-title">${title}</h3>
                                    <p>${description}</p>
                                </div>
                                <div class="col-md-2">
                                    <span id="todoListLabel${id}">${spendTime}</span>
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
            `;
            const part2 = ``;
            const part3 = `
                        <div class="panel-body">
                            <div style="display: flex; justify-content: space-around;">
                                <a class="btn btn-todo-list" onclick="startStop(${id})">
                                    <i class="fa fa-play-circle-o"></i>
                                </a>
                                <a class="btn btn-todo-list" onclick="markDone(${id})">
                                    <i class="fa fa-check-circle-o"></i>
                                </a>
                                <a class="btn btn-todo-list" onclick="markUndone(${id})">
                                    <i class="fa fa-times-circle-o"></i>
                                </a>
                                <a class="btn btn-todo-list" onclick="deleteTask(${id})">
                                    <i class="fa fa-trash"></i>
                                </a>
                        </div>
                    </div>
                </div>
            `;
            return part1 + part2 + part3;
        }

        function runningTaskTimer() {
            if(!TODO_LIST_TIMER_ID) {
                return;
            }
            const label = $('#todoListLabel' + TODO_LIST_TIMER_ID);
            const spended = secondToTime(TODO_LIST_TIMER_SPEND++);
            label.text(spended);
        }

        function secondToTime(seconds) {
            var date = new Date(null);
            date.setSeconds(seconds); // specify vlue for SECONDS here
            var result = date.toISOString().substr(11, 8);
            return result;
        }

    </script>

{% endblock %}